/* styles.css */

nav {
    background-color:skyblue;
  }
  /* header */
  .nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  header{
    position: relative;
  
  }
  .section{
    background-color: #eea539;
   min-height: 10vh;
    width:20em; 
    color:black;
    position: absolute;
    right: 1em;
    top:4em;
   
  }
  .show__cart{
  width: 500px;
  }
  .image img{
  width:100%;
  }
  
  
  .nav-right ul {
    display: flex;
  
    font-size: x-large;
  }
  .hambeger {
    display: none;
  }
  .nav-right ul li {
    list-style-type: none;
  }
  .nav-right ul li a {
    color:black;
    text-decoration: none;
    padding: 1em;
    display: block;
  }
  .nav-right ul li :hover {
    background-color: #eea539;
    color: black;
  }
  .nav-cart {
    display: flex;
    gap: 2em;
  }




body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }
  
  .container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  p {
    margin-bottom: 20px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  


  .footer-container {
    display: flex;
    justify-content: space-around;
    background-color:skyblue;
    height: 25vh;
  }
  .footer-column {
    flex: 1;
  }
  .footer-column h3 {
    margin-bottom: 10px;
    color:darkgreen;
  }
  .footer-column ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .footer-column ul li {
    margin-bottom: 5px;
  }
  .footer-column ul li a {
    color:black;
    text-decoration: none;
  }